<h1>New Blog</h1>

<%= form_for(@blog) do |f| %>

 <p>タイトル</p>
<%= f.text_field :title, class: "..." %>

 <p>本文</p>
<%= f.text_field :body, class: "..." %>

 <p>作成者</p>
 <%= f.text_field :author, class: "..." %>

<%= f.submit "SUBMIT" %>
<% end %><!-- 

<#%= form_for posts_path do %>
 タイトル
   <input type="text" name="title">
 本文
   <textarea name="body"></textarea>
   <input type="submit" value="投稿する">
<#% end %> -->